{% extends "layout.html.twig" %}

{% block title %}Mensaje{% endblock %}
{% block body %}
        <div class="container">
            <br>
            <h2><div align="center"><font color="#088A4B">{{ strings[respuesta] }}</font></div></h2>
            <br>
        </div>
{% endblock %}